@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --color-primario: #0e0e52;
  --color-secundario: #f6f6f6;
  --color-terciario: #22d4fd;
  --color-hover: #150578;

  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-krona: "Krona One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

.header {
  position: relative;
  padding: 2% 0% 0% 15%;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  left: 15%; /* Ajuste la posición a la izquierda */
  top: 20px;
  padding: 1px;
}

.menu-icon span {
  display: block;
  height: 3px;
  background: var(--color-terciario);
  transition: 0.3s;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-terciario);
  text-decoration: none;
}

.presentacion {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}

.presentacion__contenido {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__contenido__titulo {
  font-size: 2rem;
  font-family: var(--fuente-krona);
}

.titulo-destaque {
  color: var(--color-terciario);
}

.presentacion__contenido__texto {
  font-size: 1.5rem;
  font-family: var(--fuente-montserrat);
  text-decoration: none;
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__enlaces__subtitulo {
  font-family: var(--fuente-krona);
  font-size: 1.5rem;
  font-weight: 400;
}

.presentacion__enlaces__link {
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--color-secundario);
  font-family: var(--fuente-montserrat);
  border: 2px solid var(--color-terciario);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.presentacion__enlaces__link:hover {
  background-color: var(--color-hover);
}

.presentacion__imagen {
  width: 50%;
}

.footer {
  background-color: var(--color-terciario);
  padding: 24px;
  color: var(--color-primario);
  text-align: center;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
}

.titulo__educacion__carrera {
  font-style: italic;
}

@media (max-width: 1200px) {
  .header {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: flex;
  }

  .header__menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--color-primario);
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 150px;
    max-height: 0;
    overflow: hidden;
    border-bottom: #22d4fd solid 2px;
    transition: max-height 0.3s ease;
  }

  .header__menu__link {
    font-size: 1.3rem;
    text-align: center;
  }

  .presentacion {
    flex-direction: column-reverse;
    padding: 5% 10%;
    margin-top: 4%;
    gap: 40px;
  }

  .presentacion__contenido {
    width: auto;
  }

  .presentacion__enlaces__link {
    padding: 21.5px 50px;
  }

  .presentacion__imagen {
    width: 100%;
  }

  .menu-toggle:checked + .menu-icon + .header__menu {
    max-height: 300px; /* Ajusta esto según el número de enlaces en tu menú */
  }

  .menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
  }

  .menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
